@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/* h2{
    text-decoration: underline black;
} */
body{
    background-image: url("./Allpets-Wellington-Pet-Care-Paws-Background.jpg" );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
display: flex;
justify-content: center;
}
.display-1{
    color: black;
    text-align: center;
    background-color: #FFDB58;
}
.nav-link{
    color: white;
}
.sub_div {
    text-align: center;
    color: white;
    margin-top: 20px;
}
.flx-apart{
    display: flex;
    justify-content: space-between;
}
i.fa-trash-can{
    color:red;
}
i.fa-pen-to-square{
    color:green;
}
i.fa-dog{
    color:white;
}
.que, 
main.container h2{
    text-align: center;
    margin-top: 40px;
    color:#FFDB58;
}
.welcome{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
#pet-cards{
    margin-bottom: 20px;
}
/* .card{
    box-shadow: 5px 5px 5px 5px grey;
} */
.action-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-table{
    display:inline;
    /* justify-content: space-between; */
}
.selected{
    /* background-color: red !important; */
    border: red solid 5px;
}

.t-width-fix{
    min-width: 930px;
}

.search{
    display: flex;
    margin: 20px 0px;
}


